*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

/* HEADER PART */

.header{
    display: flex;
    justify-content: center;
}

.header-content{
    height: 4rem;
    width: 80%;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.headleft{
    display: flex;
    justify-content: space-around;
    gap: 6.25rem;
 
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;

}

.headleft img{
    height: 36px;
    width: 36px;
}
.header span{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: rgb(44, 41, 41);
}

.headmiddle{
    display: none;
    gap: 1.5rem;
}
@media (min-width : 910px) {
   .headmiddle{
     display: flex;
   }
}

.navopt{
    color: gray;
    font-weight: bold;
    transition: all 0.5s linear 0s;
}
.navopt:hover{
    color: blue;
}

.headright{
    border: 1px solid blue;
    background-color: rgb(69, 69, 240);
    border-radius: 5px;
    height: 2rem;
    width: 7rem;

    display: none;
    justify-content: center;
    align-items: center;
}
@media (min-width : 904px) {
    .headright{
        display: flex;
    }
    
}
.headright:hover{
    transform: scale(1.1);
}
.headright a{
    color: white;
}

.menu{
    height: 0.1rem;
    width: 0.1rem;
}
.menubutton{
    height: 0.1rem;
    width: 0.1rem;

    display: none;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width : 904px) {
   .menubutton{
    display: flex;
    justify-content: center;
    align-items: center;
}   
}

/* HERO PART */

.content{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}
.main-content{
    height: 35rem;
    width: 80%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
}

@media (min-width :1077px ) {
    .main-content{
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
    }
}

.content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    animation: Slidefromleft 1s ease forwards;

    padding-left: 0%;
}
@keyframes Slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    color: rgb(67, 67, 174);
    font-weight: bold;
    font-size: larger;
    
}
.section-title{
    font-size: 3rem;
    width: 80%;
}
.section-description{
    color: rgb(118, 115, 115);
    text-align: center;
    width: 80%;
}
.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.startnow{
    border: 1px solid blue;
    background-color: rgb(101, 101, 226);
    border-radius: 5px;
    height: 2.5rem;
    width: 8rem;
    padding: 0.4rem;
    margin: 0.4rem;
    text-align: center;
    color: white;
 
}
.taketour{
 border: 1px solid black;
    background-color: rgb(52, 47, 47);
    border-radius: 5px;
    height: 2.5rem;
    width: 8rem;
    padding: 0.4rem;
    margin: 0.4rem;
    text-align: center;
    color: white;

}
.startnow:hover{
    transform : scale(1.1);
}
.taketour:hover{
    transform : scale(1.1);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-container img{
    height: 500px;
    width: 500px;
    overflow: hidden;

    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);

}

/* Company-container */

.company{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: Slidefromleft 1s ease forwards;

}
@keyframes Slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.company-grid{
   display: grid;
   grid-template-columns: repeat(2 , 1fr);
   gap: 2rem;
   padding: 2rem;
   margin: 1.1rem;

   background-color: rgb(236, 234, 234);
   border-radius: 8px;
   box-shadow: inset;

}

@media screen and (min-width : 1015px) {
    .company-grid{
   display: grid;
   grid-template-columns: repeat(4 , 1fr);
}
}

.company-logo{
    font-size: large;
    font-weight: 400;

    display: flex;
    gap: 0.5rem;
}
.logo{
    height: 25px;
    width: 25px;
}

/* CONTAINER */

.container{
    height: 50rem;
    width: 100%;
    background-color: rgb(236, 234, 234);

    padding: 1rem;
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    height: 95%;
    width: 45%;
}
.main-para{
   display: flex;
   gap: 1rem;
   flex-direction: column;
}

.main-para p{
    color: gray;
}


.grid-para{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2 , 1fr);
    grid-template: max-content;

    gap: 1rem;
    margin-top: 1.5rem;
}
@media screen and (max-width : 972px) {
    .grid-para{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1 , 1fr);
}
    .container{
    height: 100rem;
    width: 100%;
}
}
.card{
    height: 12rem;
    width: 22rem;
    border-radius: 8px;

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.card-title{
    margin-bottom: 0.5rem;
    margin-top: 0;
}

#card-1{
    background-color:#42bdf6;
}
#card-2{
    background-color:#fd4838 ;
}
#card-3{
    background-color:	#ffc525 ;
}
#card-4{
    background-color:	#34c67f ;
}
#card-5{
    background-color:	#d29068 ;
}
#card-6{
    background-color: 	#c3b5ff;
}

/* Testimonial */

.testimonial{
    width: 100%;
    height: 30rem;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-container{
    width: 80%;
    height: 95%;
}
.t-heading{
    padding: 2rem;
}
.t-box{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
@media screen and (max-width : 780px) {
    .t-box{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
    .testimonial{
    height: 45rem;
    margin-bottom: 20rem;
    }
}

.t-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;

    padding: 0.5rem;

    transition: all 0.3s linear 0s;    
}
.t-cards:hover{
    transform: scale(1.05);
    border: 1px solid rgb(64, 61, 238);
}


.tcard img{
    height: 7rem;
    width: 7rem;
}
.p{
    color: rgb(46, 46, 233);
    font-size: large;
    font-weight: bold;
}

/* News-letter */
 
.news{
    height: 30rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
}

.news-container{
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(1 , 1fr);

    margin: 10rem;
}

@media (min-width : 540px) {
    .news{
    height: 30rem;
    width: 100%;

    }  
    .news-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    }
}

.newsleft{
    height: 100%;
    width: 100%;
}
.newsleft img{
    height: 100%;
    width: 100%;   

}

.newsright{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding : 1rem;

    background-color: rgb(236, 234, 234);

    overflow: auto;
} 
.news-heading{
    font-size: 3rem;
}
.news-desc{
    text-align: left;
    padding-left: 0.2rem;
    color: rgb(103, 103, 103);
}
.news-inputbox{
    border-radius: 5px;
    background-color: white;
    border: 1px solid white;

    height: 2rem;
    width: 10rem;

    padding: 1rem;
}
.news-button{
    background-color: rgb(74, 74, 241);
    color: white;

    height: 2rem;
    width: 4rem;

    border: 1px solid white;
    border-radius: 5px;

}
.news-button:hover{
    transform: scale(1.05);
    background-color: blue;
}

.news-bottomline{
    text-align: left;
    font-size: small;
}
.a{
    color: blue;
    text-decoration: underline;
}

@media (max-width : 530px) {
    .newsleft{
        height: 0;
        width: 0;
    }
    .newsright{
        height: 100%;
        width: 100%;

        margin-top: 0%;
    }
    .news-container{
    height: 85%;
    width: 77%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(1 , 1fr);

    margin: 7rem;
    }
}
@media (max-width : 400px) {
    .news-container{
    height: 85%;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(1 , 1fr);

    margin-top: 15rem;
    }
}





/* footer */

.footer{
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 6rem;
}
.footer-content{
    height:95%;
    width: 85% ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

}

.footer-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 15rem;
}

@media (max-width : 1180px) {
  .footer-top{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    gap: 15rem;
    } 
    .f-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .footer-top{
    gap: 5rem;
    } 
}

.f-left{
    display: flex;
    flex-direction: column;
}
.l-top{
    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;
}
.l-top img{
    height: 2.5rem;
    width: 2.5rem;
}
.l-middle{
    color: gray;
    text-align: left;
}
.l-bottom{
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin: 1rem;
}
.l-bottom img{
    height: 1.5rem;
    width: 1.5rem;
}

.f-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}
.f-heading{
    color: black;
    font-weight: bold;
    font-size: x-large;

    margin-bottom: 2rem;
}
.f-links{
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.f-links li a{
    color: rgb(119, 119, 119);
}

@media screen and (max-width : 768px ) {
    .f-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}
}